.footer {
  background-color: #ad99c3;
  padding: 70px 0;
  box-shadow: $box-shadow;
  font-size: 1.1rem;

  &__logo {
    width: 240px;
    position: relative;
    top: -5em;
  }

  &__about {
    p {
      margin-bottom: 2rem;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &__content {
    display: block;
    gap: 1em;

    p {
      margin-bottom: 1.25rem !important;
    }
  }
}
.img-1,
.img-2,
.img-3 {
  position: relative !important;
  top: 0px !important;
  right: 6px !important;
}
.con2 {
  display: flex;
  gap: 1.4em;
  position: relative;
  right: 3em !important;
  padding-bottom: 2em !important;
  img {
    width: 25px !important;
  }
}
.tel-22 {
  padding-bottom: 1em !important;
}
.tel2 {
  position: relative !important;
  right: 3em !important;
  img {
    width: 30px !important;
  }
  span {
    position: relative !important;
    top: 6px !important;
  }
  @include tablet {
    right: 0;
  }
  @include mobile {
    right: 0;
  }
}
.we {
  position: relative !important;
  top: -13em !important;
}
